/*body {
    font-family: cursive;
    background-image: url("oxtails.JPEG")
}*/
body{
    font-family: cursive;
    background-color: black;}
h1 {
    color: white;}
h4 { 
    color: white;}
th { 
    color: white;}