body{
    font-family: Papyrus, fantasy;
    background-color: black;}
h1 {
    color: white;}
h4 { 
    color: white;}
th { 
    color: white;
    min-width: 120px;}
td {
    color: white;
    max-width: 150px;}
.tv-ma {
    background-color: blue;
}
.tv-g {
    background-color: teal;
}
.pg {
    background-color: darkorchid;
}
.tv-y {
    background-color: darkolivegreen;
}
.rated-r {
    background-color: red;
}
.sports {
    background-color: chartreuse;
}